# Ignore the virtual environment
.venv
.venv/
env/

# Ignore local credentials and sensitive files
credentials.json
.env

# Ignore Python cache and logs
__pycache__/
*.pyc
logs/
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

auth_small.json
auth.json
error_state.png
shrink_auth.py
