# Ignore the virtual environment
.venv
.venv/
env/

# Ignore local credentials and sensitive files
credentials.json
.env

# Ignore Python cache and logs
__pycache__/
*.pyc
logs/
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

auth_full.json
auth_github.txt
auth.json
error_state.png
auth_original.json
